
        body{
            background-image: url("images/background_city.jpg") ;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: auto;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        a{
            text-decoration: none;
        }
 /*------------------------------------------------------*/
        .header-post{
            display: flex;
            position: fixed;
            justify-content: center;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 0px;
            transition: all 0.4s ease-in-out;
        }
        header.sticky .header-post{
            background: rgba(83, 203, 255, 0.891);
            box-shadow: 0 5px 20px 10px gray;
            width: 100%;
            height: min-content;
            padding: 0 0 10px 0 ;
        }
        header.sticky .menu{
            color: black;
        }
        
        header.sticky .logo{
            width: 24%;
            margin-left: 20%;
            margin-top: 2%;
        }
/*------------------------------------------------------*/
        .logo{
            float: left;
            display: block;
            width: 33%;
            margin-left: 15%;
            transition: all 0.4s ease-in-out;

        }
        .logo img{
            width:140%;
            float: left;
        }
/*------------------------------------------------------*/
        .menu{
            margin-top: 2%;
            margin-right: 10%;
            width: 100%;
            float: left;
            color: #FFF;
            height: fit-content;
            
        }
        .menu ul li{
            float: left;
            font-size: large;
            padding:6px 7px ;
            color: #003366;
            font-weight: bold;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            margin: 0 1% 0 1%;
        }
        .menu ul{
            list-style-type: none;
            position: center;
        }
        
        .menu ul li:hover{
            background-color: #c5e8ef;
            padding:1% 2% 1% 2% ;
            font-size: larger;
            color:#003366;
            box-shadow: 0 5px 9px 0 gray;
            border-radius: 30px;
        }
        .menu:after{
            clear: both;
            display: table;
            content: "";
        }
/*------------------------------------------------------*/
        .banner{
            background: url("images/bg4.jpg");
            min-height: 150px;
            width: 100%;
        }
/*------------------------------------------------------*/
        .login{
            float: left;
            font-weight: bold;
            margin-top: 3%;
            margin-right: 1%;
            width: 10%;
            height: max-content;
            transition: all 0.3s ease-in-out;
        }

        .login a{
            display: block;
            text-decoration: none;
            text-align: center;
            color: black;
            font-size: larger;
            
        }
        
        .login:hover{
            background-color: #1b76ff;
            box-shadow: 0 5px 9px 0 gray;
        }
/*------------------------------------------------------*/
        section{
            font-size: 0.99em;
            float: left;
            display: block;
            width: 75%;
            height: auto;
        }
/*------------------------------------------------------*/
        aside{
            display: block;
            float: right;
            width: 24%;
            height: auto;
            margin: 1% 1% 5% auto;
           
        }
        #slideshow {
            overflow: hidden;
            height: 480px;
            width: 100%;
            margin: 0 auto;
          }
         .slide-wrapper {
            width: 100%;
            -webkit-animation: slide 10s ease infinite;
          }
         
         @-webkit-keyframes slide {
            10% {margin-left: 0px;}
            20% {margin-left: -40%;}
            30% {margin-left: -80%;}
            40% {margin-left: -120%;}
            50% {margin-left: -160%;}
          }
          aside.sticky #slideshow{
            position: fixed;
            width: 23.7%;
            margin-bottom: 2%;
          }
         
    
/*------------------------------------------------------------------*/        
        .posts{
            margin: 30px 50px;
            padding: 2% 2% 2% 2%;
            display: block;
            float: left;
            width: 90%;
            height: fit-content;
            background-color: rgba(83, 204, 255, 0.619);
            border-radius: 10px;
        }
        .posts h1{
            color: rgb(0, 0, 0);
        }
        .posts p{
            font-size: large;
        }
        .posts small{
            float: right;
            margin-right: 1%;
            border: 1px solid rgb(127, 127, 127) ;
            padding: 1%;
            border-radius: 5px;
            background-color: #41c0ff8b;
        }
        .posts a{
            text-decoration: none;
            color: black;
        }
        .posts a:hover{
            color: red;
        }
        
        .post-img{
            width: 60%;
            float: left;
            margin-left: 1%;
            margin-right: 1%;
        }
        .post-img img{
            width: 100%;
            display: block;
            margin-right: 1%;
        
        }
        iframe{
            width: 800px;
            height: 400px;
            display: block;
           margin: 5px 20px;
        }
        .load{
            color: rgba(0, 144, 184, 0.904);
        }
        .load:hover{
            color: rgb(0, 0, 0);
            background-color: rgb(143, 244, 255);
            border-radius: 5px;
        }
        .footer{
            padding: 1em;
            color: white;
            background-color: black;
            text-align: center;
            float: inline-end;
            clear: both;
            position: relative;
            height: fit-content;
            margin-top: -200px;
        }
/*-------------------------------------------------------*/
        /* login form */
        .login-form {

        }
        .login-form form {
            width: 45%;
            margin: 12%;
            background-image: url("images/bg4.jpg") ;
            border-radius: 6%;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); padding: 30px;
        }
        .login-form h2 {
            text-align: center;
            font-size:40px;
        }
        .form-control {
            width: 100%;
            min-height: 38px;
            display: block;
            position: center;
            border-radius: 8px;
            margin-bottom: 2%;
            font-size: 30px;
            text-align: center;
        }
        .form-group{
            margin: 2%  ;
        }
        .button{
            font-size: 30px;
            font-weight: bold;
            margin-left: 40%;
            margin-top: 3%;
            border-radius: 7%;
            background-color: #cecccc;
        }
/*----------------------------------------------------------------------*/
        .post-form{
            
        }
        .post-form form{
            float: left;
            clear: both;
            width: 65%;
            margin: 12%;
            background-image: url("images/bg4.jpg") ;
            border-radius: 4%;
        }
        .post-control{
            font-size: 25px;
            width:80%;
            margin-left: 10%;
        }
        .post-form h2{
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }
        .add-post{
            font-size: 30px;
            font-weight: bold;
            margin-left: 36%;
            margin-top: 10%;
            margin-bottom: 10%;
            background-color: #cecccc;
        }
        
/*-------------------------------------*/

        .notice{
            float: left;
            clear: both;
            width: 65%;
            margin: 12%;
            background-image: url("images/bg4.jpg") ;
            border-radius: 4%;
        }
        .notice h2{
            text-align: center;
            font-size: 35px;
        }
        .notice h4{
            font-size: 28px;
            text-align: center;
        }
        

        caption{
            font-size: 30px;
            font-weight: bold;
        }

        .h1-admin-site{
            font-weight: bolder;
        }

        .h1-admin-site a{
            font-size: smaller;
            text-decoration: none;
        }
        .h1-admin-site a:hover{
            background-color: #6bd0ff;
        }

        table{
            width: 95%;
            border: 5px solid black;
            margin: 4% 2% 4% 2%;
        }

        td{
            border: 1px solid black;
            font-size: 20px;
            padding-left: 3%;
        }
        th{
            border: 3px solid black;
            font-size: 25px;
            font-weight: bold;
            color: black;
        }
        td button:hover{
            background-color: #98ccff;
        }
        .td_body{
            overflow: auto;
            display: block;
            max-height: 80px;
        }

/*-----------------------------------*/
        .scrape-post{
            width: 60%;
            float: left;
        }
        .image-post{
            width: 35%;
            float: left;
            margin-left: 1%;
        }
        .image-post img{
            width: 100%;
            display: block;
        }
        .author-time{
            font-size: smaller;
            width: fit-content;
            font-style: italic;
            padding: 1px;
        }
        .link-artical{
            text-decoration: none;
            border: 1px solid black;
            border-radius: 5px;
            padding: 4px;
        }
        .link-artical:hover{
            background-color: #ffffff;
            box-shadow: 0 4px 9px 0 gray;
            transition: all 0.3s ease-in-out;
            
        }