{% extends 'mysite/base.html' %}

{% block contentthang%}
    <div class="post-form">
    <form action="{% url 'mysite:add_post' %}", method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>AĐ NEW POST</h2>
        <div class="post-control">
            <h4>Title</h4>
            {{fm.title}}
        </div>

        <div class="post-control">
            <h4>Author</h4>
            {{fm.author}}
        </div>
        
        <div class="post-control">
            <h4>Ảticle</h4>
            {{fm.body_text}}
        </div>
        
        <div class="post-control">
            <h4>Post date</h4>
            {{fm.date}}
        </div>
        <input type="submit" value="Add post" class="add-post">
    </form>
    </div>
{% endblock %}