<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Web News</title>
   
    <link rel="stylesheet" href="{% static 'mysite/style.css' %}">
</head>

<body>
    <header>
        <div class="header">
            <a href="{% url 'mysite:home'%}">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}">
                </div>
            </a>

            <div class="menu">
                <ul>
                    <div class="nav-link"><a href="https://www.youtube.com/"><li>Chính trị |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:index'%}"><li>Kinh tế |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:index'%}"><li>Giáo dục |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:index'%}"><li>Đời sống |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:index'%}"><li>Pháp luật |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:scrape'%}"><li>Web khác</li></a></div>
                </ul>
            </div>

            <div class="login"><a href="{% url 'mysite:login'%}">Log in</a></div>
        </div>
    </header>
    <section>
        <div class="noidung">
            {% block contentscrape %}
            {%  endblock %}

            {% block contentthang %}
            {%  endblock %}
        </div>
    </section>

    <aside>
        <p style="font-weight: bold; ">Links</p>

        <img src="{% static 'images/cambridge.jpg' %}" />
        <img src="{% static 'images/mitsd.jpg' %}" />
        <img src="{% static 'images/chicago.png' %}" />
        <img src="{% static 'images/oxford.png' %}" />
        
    </aside>

    <div class="footer">
        <footer>Copy@Right_BuiThang&#169;</footer>
    </div>
</body>
</html>