<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Web News</title>
    <link rel="stylesheet" href="{% static 'mysite/style.css' %}">
</head>

<body>
    <header>
        <div class="header-post">
            <a href="{% url 'mysite:home'%}">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}">
                </div>
            </a>

            <div class="menu">
                <ul>
                    <div class="nav-link"><a href="{% url 'mysite:home'%}"><li>Politics |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:home'%}"><li>Economy |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:home'%}"><li>Education |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:home'%}"><li>Law |</li></a></div>
                    <div class="nav-link"><a href="https://www.youtube.com/" target="blank"><li>Entertainment |</li></a></div>
                    <div class="nav-link"><a href="{% url 'mysite:another-web'%}"><li>Other Web</li></a></div>
                </ul>
            </div>

            <div class="login"><a href="{% url 'mysite:login'%}">Log in</a></div>
        </div>
    </header>
    <div class="banner"></div>
    <section>
        <div class="noidung">
            
            {% block contentscrape %}
            {%  endblock %}

            {% block contentthang %}
            {%  endblock %}
        </div>
    </section>

    <aside>
        <div id="slideshow">
            <div class="slide-wrapper">
              <div class="slide"><img src="{% static 'mysite/images/bg6.jpg' %}"></div>
              
            </div>
        </div>
          
    </aside>

    <div class="footer">
        <footer>Copy@Right_BuiThang&#169;</footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
       $(document).ready(function(){
            $(window).scroll(function(){
                if($(this).scrollTop()){
                    $('header').addClass('sticky');
                }else{
                    $('header').removeClass('sticky');
                }
            });
       });
    </script>

    <script>
        $(document).ready(function(){
             $(window).scroll(function(){
                 if($(this).scrollTop()){
                     $('aside').addClass('sticky');
                 }else{
                     $('aside').removeClass('sticky');
                 }
             });
        });
     </script>
</body>
</html>