{% extends 'mysite/base.html' %}

{% block contentthang %}
    {% if baiviet %}
        {% for item in baiviet %}
        <div class = posts>
            <h1 style="text-align: center">{{item.title}}</h1>
            <p> {{item.body_text|safe|linebreaks}}</p>
            <small style="float: right; margin-right:1%;">Người đăng: {{item.author}} -- Ngày: {{item.date}}</small>
        </div>
        {% endfor %}
    {% endif %}
    <div class="posts"><iframe style="margin: 5px 5px" src="https://plo.vn/kinh-te/khong-dong-cua-vissan-tiep-tuc-cung-cap-thuc-pham-cho-nguoi-dan-tphcm-1004307.html" >Tin tức từ Web khác</iframe></div>
{% endblock%}