{% extends 'mysite/base.html' %}

{% block contentthang %}
    {% if baiviet %}
        {% for item in baiviet %}
            <div class = posts>
                <h1 style="text-align: center">{{item.title}}</h1>
                <p> {{item.body_text|safe|linebreaks}}</p>
                <small style="float: right; margin-right:1%;">Người đăng: {{item.author}} -- Ngày: {{item.date}}</small>
            </div>
        {% endfor %}
    {% endif %}
{% endblock%}

{% block contentscrape %}
    {% if result %}
        {% for i in result %}
            <div class = posts>
                <h1 style="text-align: center">{{ i.title }}</h1>
                <p> {{ i.body_text|safe|linebreaks}}</p>
            <!-- <a href="https://xe.baogiaothong.vn/mg5-sap-ra-mat-viet-nam-co-phien-ban-scorpio-the-thao-d521996.html" target="_blank">Link bài viết</a><br/>
                <small style="float: right; margin-right:1%;">Người đăng: {{item.author}} -- Ngày: {{ result.time_post }}</small>-->
            </div>
        {% endfor %}
    {% endif %}

{%  endblock %}

